

$turquoise: #1abc9c;
$emerland: #2ecc71;
$peter-river: #3498db;
$amethyst: #9b59b6;
$wet-asphalt: #34495e;
$green-sea: #16a085;
$nephritis: #27ae60;
$belize-hole: #2980b9;
$wisteria: #8e44ad;
$midnight-blue: #2c3e50;
$sun-flower: #f1c40f;
$carrot: #e67e22;
$alizarin: #e74c3c;
$clouds: #ecf0f1;
$concrete: #95a5a6;
$orange: #f39c12;
$pumpkin: #d35400;
$pomegranate: #c0392b;
$silver: #bdc3c7;
$asbestos: #7f8c8d;

$whitesmoke: #fafafa;
$separator: #fefefe;

$accent-color: #fc3a64;


$flat-blue: #6dc2f2;
$flat-yellow: #f2b362;
$flat-red: #d65768;
$flat-green: #4aa6a9;
//$accent-color: $peter-river;

.right{
  float:right;
}

.navbar{
  border-radius: 0px;
  .navbar-brand{
    border: 0;
  }
  .nav {
    li{
      border-radius: 0 !important;
      a{
        border-radius:0 !important;
      }
    }
  }
}

.center{
  text-align: center;
}


.bottom{
  margin-bottom: 15px;
}

.never-active{
  a{
    background-color: $wet-asphalt !important;
  }
}

.slogan{
  width:100%;
  margin-top: 120px;
  background-color: #f04f4f;
  color: white;
  padding-top: 50px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  .label-container{
    display: inline-block;
    margin: 0 60px;
    span{
      font-size: 7em;
    }
  }
}

.task{
  margin: 0;
  border-bottom: 2px solid white;
  text-align: center;
  position: relative;
  background-color: #eee;
  position: relative;
  .owner{
    text-overflow: ellipsis;
    padding: 15px 0px;
    cursor: pointer;
  }
  .owner-selection{
    &::before{
      content: ' ';
      height: 0;
      position: absolute;
      width: 0;
      top:-20px;
      left: 30px;
      border: 10px solid transparent;
      border-bottom-color: white;
      z-index: 200;
    }
    position: absolute;
    list-style: none;
    width: 300px;
    margin: 0;
    padding: 0;
    top: 100%;
    z-index: 100;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    li{
      height: 62px;
      background-color: white;
      line-height: 62px;
      cursor: pointer;
      &:hover{
        background-color: $clouds;
      }
      &:active, &:focus{
        background-color: $silver;
      }
    }
  }
  .description {
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 15px;
    input {
      width:100%;
      border: 0;
      background-color: transparent;
      outline: 0;
    }
  }
  .stages {
    padding: 0;
    height: 62px;
    background-color: white;
    & > div{
      cursor: pointer;
      height: 100%;
      text-transform: capitalize;
      padding: 15px 0px;
      border-right: 2px solid white;
      background-color: #eee;
      &.green {
        background-color: $emerland;
      }
      &.yellow{
        background-color: $sun-flower;
      }
      &.red{
        background-color: $alizarin;
      }
    }
  }
  .move, .delete{
    position: absolute;
    padding: 10px;
    display:none;
    cursor: pointer;
  }
  .move{
    left: -35px;
    top: 12px;
    &:hover{
      color: $emerland;
    }
  }
  .delete{
    right: -35px;
    top: 12px;
    &:hover{
      color: $alizarin;
    }
  }
  &:hover{
    .move, .delete{
      display:block;
    }
  }
}


.panel-group .panel{
  margin-bottom: 0;
  border-radius: 0px;
  border: 0;
  border-left: 5px solid $midnight-blue;
  .panel-body{
    border:0 !important;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      .user{
        padding: 15px 0px;
        border-top: 1px solid #eee;
      }
    }
  }

}
